{% extends 'layouts/base.html.twig' %}

{% block title %}Se connecter!{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-6 mx-auto bg-light mt-4 p-4">
                <form method="post" class="row g-3">
                    <div class="col-12">
                    <h1 class="h2 mb-3 font-weight-normal" style="text-align: center">Se connecter</h1>
                    </div>

                    <div class="col-12">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                    </div>

                    <div class="col-12 my-3">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" required autofocus>
                    </div>
                    <div class="col-12 my-3">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                    <div class="col-12">
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">
                    </div>

                    <div class="checkbox mb-312">
                        <label class="col-12">
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>

                    </div>
                    <div class="col-12">
                        <button class="btn btn-lg btn-primary btn-block float-end my-3" type="submit" formnovalidate>
                            Connecter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
