<h3>Vérification d'email!</h3>
<p> Cher ,

    Merci d’avoir créé un compte sur Colis.tn.
    Pour pouvoir accéder à notre site web, veuillez confirmer votre adresse e-mail en cliquant sur le boutton suivant.
</p>


<p>
    <a href="{{ signedUrl }}">Vérifier votre compte</a>
    Attention, ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>Cordialement,
<hr>
Ce message a été envoyé automatiquement. Nous vous remercions de ne pas répondre.</p>
