{% extends 'layouts/base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <div class="container mx-auto" style="margin-top: 110px; margin-bottom: 50px">
        <div class="row">
            <div class="col-md-6 mx-auto bg-light mt-4 p-4">
                <form method="post" class="row g-3">
                    <div class="col-12">
                        <h1 class="text-danger" style="text-align: center">Réinitialiser  mot de passe</h1>
                    </div>

                    <div class="col-12">
                        {% for flash_error in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <small>
                            Saisissez votre email et nous vous enverrons
                            un lien pour réinitialiser votre mot de passe.
                        </small>
                    </div>
                    <div class="col-12 my-3">
                        {{ form_row(requestForm.email) }}
                    </div>


                    <div class="col-12" style="text-align: center">
                        <button class="btn btn-primary" style="text-align: center" formnovalidate>Demander un nouveau</button>
                    </div>



                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Pas de compte ?
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="{{ path('app_register') }}" style="color: #F17228">Inscrivez-vous</a>
                        </div>
                    </div>

                    {{ form_end(requestForm) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}