{% extends 'super_admin/admin_layouts/base.html.twig' %}
{% block title %} Ajouter Trajet{% endblock %}
{% block body %}
    <div class="container" style="margin-top: -2.5rem; padding: -1.5rem;">
        <div class="row">
            <div class="col-md-6 mx-auto bg-light mt-4 p-4">
                <form method="post" class="row g-3" novalidate>
                    <input type="hidden" name="_token" value="{{ csrf_token('trajet_create') }}">
                    <div class="col-12">
                        <h1 class="text-danger" style="text-align: center">Ajouter un trajet</h1>
                    </div>



                    <div class="col-12 my-2">
                        <input type="email" name="email" class="form-control" required autofocus placeholder="Email">
                    </div>

                    <div class="col-12 my-2">
                        <input type="text" name="adrdep"  class="form-control" required autofocus placeholder="Adresse de départ">
                    </div>

                    <div class="col-12 my-2">
                        <input type="text" name="adrarr"  class="form-control" required autofocus placeholder="Adresse d'arrivée">
                    </div>

                    <div class="col-12 my-2">
                        <input type="number" name="dtrmax"  class="form-control" required autofocus placeholder="Detour Max">
                    </div>

                    <div class="col-12 my-2">
                        <input type="datetime-local" name="datedep"  class="form-control" required autofocus>
                    </div>

                    <div class="col-12 my-2">
                        <select id="format" name="format" class="col-12" style="height: 45px; background: #f4f7fa; border-color: #ced4da;">
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>
                    </div>




                    <div class="col-12" style="display: flex; justify-content: center; justify-items: center">
                        <input class="btn btn-lg btn-primary float-end" type="submit"  value="Ajouter" formnovalidate style="margin-right: 50px">

                        <button class="btn btn-lg btn-primary float-end" type="reset" style="margin-left: 50px">
                            Annuler
                        </button>

                    </div>






                </form>
            </div>
        </div>
    </div>

{% endblock %}