{% extends 'layouts/base.html.twig' %}
{% block title %}Liste des Annonces!{% endblock %}
{% block body %}

    {% for ann in annonce %}
        <article>
            <h1> <a href="{{ url('app_annone_show', {'id':ann.id}) }}"> {{ ann.adresseDepart }}  vers {{ ann.adresseArrivee }} </a> </h1>
        </article>
    {% endfor %}


{% endblock %}