{% extends 'base.html.twig' %}

{% block title %}Annonce n° {{ annonce.id}}  {% endblock %}
{% block body %}


         <article>
            <h1> {{ annonce.adresseDepart }}</h1>
            <h1> {{ annonce.adresseArrivee }}</h1>
        </article>



{% endblock %}