<footer class="mt-5 p-3 text-center my-6" style=" background-color: #e3f2fd; width: 100%; height: 50px; position: fixed; bottom:0; left:0 ">
    <p class="text-muted">
        <small>
            Made with <i style="color: red;" class="fa fa-heart"></i> by <a style="color: #444; " >HADDAD Souha</a>
            &copy; Copyright {{ 'now'|date('Y') }}
        </small>
    </p>
</footer>