<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-900 pb-0 pt-5">

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0">
                <a class="text-decoration-none" href="#"><img src="/assets/img/gallery/Colis-white.png" height="100" width="190" alt="" /></a>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->