<h3>Avertisment !</h3>
<p> Madame, ou  Monsieur, ,
    Nous vous informons que nous avons décidé de prendre à votre encontre une mesure disciplinaire.</p>
Nous ne pouvons tolérer un tel comportement qui perturbe et désorganise le bon fonctionnement de notre établissement.
<p>
Nous vous demandons de bien vouloir veiller à ce que de tels faits ne se reproduisent pas et nous vous notifions, par la présente, un avertissement.
</p>

<p>Cordialement,
<hr>
Ce message a été envoyé automatiquement. Nous vous remercions de ne pas répondre.</p>
